# Configurações do Banco de Dados Supabase (PostgreSQL)
# O DATABASE_URL é usado pelo Prisma para rotinas de conexão.
# O DIRECT_URL é usado para realizar as migrações (criar tabelas no banco de verdade).
DATABASE_URL="postgresql://postgres.[SEU-USUARIO-AQUI]:[SUA_SENHA_AQUI]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[SEU-USUARIO-AQUI]:[SUA_SENHA_AQUI]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"